@import 'var', 'mixin';

.blocks {
  height: 374px;
  display: flex;


  &__options {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 10px solid;
    align-content: space-between;

    &:nth-child(odd) {
      background: $black;
      border-color: $aquamarine;
      color: $aquamarine;
    }

    &:nth-child(even) {
      background: $aquamarine;
      border-color: $white;
      color: $white;
    }
  }

  &__icons {
    padding-bottom: 50px;
  }
}