@import 'var', 'mixin';

body {
  font-family: Montserrat, sans-serif;
  min-width: 1200px;
}

.main {
  background-image: url('/src/images/BG.png');
  background-repeat: no-repeat;
  background-size: cover;

  &__header {
    background-color:  rgba(73, 71, 63, 0.6);
    padding-left: 100px;
    padding-right: 100px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  &__logo-ham {
    display: inline-block;
    width: 195px;
    height: 67px;
    background-image: url('/src/images/logo.png');

  }

  &__links-list {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__link {
    color: $grey;
    font-size: 13px;
    text-decoration: none;
    margin-left: 17px;

    &--icon {
      display: inline-block;
      width: 22px;
      height: 22px;
      background-image: url('/src/images/search_icon.png');
    }
  }

  &__link:hover {
    color: $aquamarine;
  }

  &__link:hover:nth-child(-n+9):after  {
    margin-top: 53px;
    content: " ";
    width: 39px;
    height: 2px;
    background-color: $aquamarine;
    display: block;
    position: absolute;
  }

  &__greetings {
    padding-top: 246px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 244px;
  }

  &__wordpress {
    margin-bottom: 45px;
    font-size: 35px;
    font-weight: 700;
    color: $white;
  }

  &__word-theme {
    color: $aquamarine;
  }

  &__creative {
    color: $white;
    font-size: 79px;
    font-weight: 700;
    margin-bottom: 37px;
  }

  &__just {
    color: $light-grey;
    font-size: 34px;
    font-weight: 300;
    margin-bottom: 146px;
  }

  &__explore-purchase {
    display: flex;
  }

  &__explore {
    border-radius: 4px;
    width: 166px;
    height: 61px;
    background-color: $aquamarine;
    font-size: 13px;
    font-weight: 700;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  &__white-explore {
    border-radius: 4px;
    width: 166px;
    height: 65px;
    background-color: $white;
    margin-right: 14px;
    display: flex;
    align-items: flex-end;
  }

  &__purchase {
    border-radius: 4px;
    width: 166px;
    height: 61px;
    background-color: $blue;
    font-size: 13px;
    font-weight: 700;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__white-purchase {
    border-radius: 4px;
    width: 166px;
    height: 65px;
    background-color: $white;
    margin-left: 14px;
    display: flex;
    align-items: flex-end;
  }
}