@import 'var', 'mixin';

.services {
  background-color: $white;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__our-services {
    color: $dark;
    font-weight: 400;
    font-size: 36px;
    margin-top: 82px;
    margin-bottom: 37px;
  }

  &__greenline1 {
    width: 76px;
    height: 1px;
    margin-bottom: 3px;
    background-color: $aquamarine;
  }

  &__greenline2 {
    width: 76px;
    height: 1px;
    margin-bottom: 3px;
    margin-left: 12px;
    background-color: $aquamarine;
  }

  &__green-lines {
    margin-bottom: 70px;
    padding-bottom: 70px;
  }

  &__input {
    display: none;
    &:checked + services__span {
      background-color: $aquamarine;
      color: $white;
    }

  }

  &__label {
    cursor: pointer;
    display: inline-block;
    padding: 10px 40px;
    background-color: $sky;
  }
}